.admin-container {
  display: grid;
  min-height: $_content_min-height;
  background-color: white;
  grid-template-columns: 0.2fr 3fr 0.2fr;
  grid-template-rows: 0.5fr 1fr 5fr 0.5fr;

  nav {
    grid-column: 2/3;
    grid-row: 2/3;

    background-color: $_gray;
    border-radius: 8px;

    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    li {
      margin: 0 1.5rem;
      padding: 1rem 2rem;
      list-style: none;

      font-weight: 600;
      background-color: white;
      border: 2px solid black;
      border-radius: 8px;

      &:hover {
        color: white;
        background-color: black;
      }
    }
    h2 {
      margin: 0 4rem;
      border-bottom: 5px solid black;
    }
    h3 {
      position: absolute;
      right: 5rem;
      color: white;
      font-size: 2rem;
      font-style: italic;
    }
  }

  section {
    grid-column: 2/3;
    grid-row: 3/4;
    padding: 3rem;
    margin-top: 3rem;

    border: 3px solid black;
    border-radius: 8px;
  }
}
