.admin-container {
  height: auto;
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  nav {
    height: 10vh;
    width: 100%;
    padding: 2rem 0;

    // background-color: #131313;
    background: linear-gradient(rgba(19, 19, 19, 1), rgba(19, 19, 19, 0.8));

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      height: 60px;
      width: 350px;
      // margin: 0 4rem;
      color: white;
      // border-bottom: 5px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    ul {
      // width: 500px;
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        height: 40px;
        margin: 0 0.5rem;
        padding: 0.5rem 2rem;
        list-style: none;

        color: white;
        font-weight: 600;
        background-color: rgb(158, 0, 0);
        border: 2px solid black;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          color: white;
          background-color: black;
        }
      }
    }
    div {
      height: 60px;
      width: 350px;

      display: flex;
      justify-content: space-evenly;
      align-items: center;

      h3 {
        color: white;
        font-size: 2rem;
        font-style: italic;
      }
      button {
        height: 40px;
        width: 100px;
        color: rgb(158, 0, 0);
        font-size: 1.5rem;
        font-weight: 800;
        background-color: white;
        border: 2px solid black;
        border-radius: 8px;
        transition: all ease-in-out 0.2s;
        cursor: pointer;

        &:hover {
          color: white;
          background-color: black;
          border: 2px solid white;
        }
      }
    }
  }

  body {
    height: 90vh;
    width: 100%;
    padding: 1rem;
    // overflow: hidden;
    // background-color: rgba(250, 128, 114, 0.445);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .hidden {
      display: none;
    }

    section {
      height: 100%;
      width: 95%;
      padding: 1rem 1rem 3rem 1rem;
      margin: 0;

      overflow: hidden;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .admin-section_title {
        margin-bottom: 2rem;
        color: white;
      }
      .admin-screen {
        height: 93%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
          height: auto;
          height: 100%;
          width: 50%;
          margin: 1rem;
          padding: 1rem;

          list-style: none;
          border: 1px solid black;
          border-radius: 12px;

          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          overflow-y: scroll;

          li {
            width: 95%;
          }
        }
      }
    }
  }
  .admin_event {
  }
  .admin_menu {
  }
  .admin_sauce {
  }
}
