.app {
  position: relative;

  #full_body_logo {
    height: 100vh;
    width: 100%;
    position: absolute;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 85%;
    }
  }
}
