.awards-container {
  display: flex;
  min-height: $_content_min-height;
  background-color: white;
  justify-content: flex-start;
  align-items: center;

  img {
    height: $_content_min-height;
    grid-template-columns: 2/3;
  }
}
