.event-card {
  height: 10px;
  width: 95%;
  margin-top: 5rem;

  color: white;
  border-radius: 35%;
  background-color: rgba(255, 0, 0, 0.5);
  box-shadow: inset 0.5rem 0.5rem 1rem rgba(255, 255, 255, 0.5),
    0.5rem 0.5rem 1rem rgba(255, 255, 255, 0.5);

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  h2 {
    margin-bottom: 0.2rem;
    font-size: 3rem;
  }
  h3 {
    margin-bottom: 0.2rem;
    margin-left: 1rem;
    font-size: 2rem;
  }
}
