.event-card {
  height: 10px;
  width: 95%;
  margin-top: 9rem;

  color: white;
  border-radius: 35%;
  background-color: rgba(255, 0, 0, 0.5);
  box-shadow: inset 0.5rem 0.5rem 1rem rgba(255, 255, 255, 0.5),
    0.5rem 0.5rem 1rem rgba(255, 255, 255, 0.5);

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  .event-card_textbox {
    width: 50%;
    h2 {
      margin-bottom: 0.2rem;
      font-size: 3rem;
    }
    h3 {
      margin-bottom: 0.2rem;
      margin-left: 1rem;
      font-size: 2rem;
    }
  }
  .event-card_timebox {
    height: 20rem;
    width: 50%;
    background-color: green;
    span {
      color: white;
    }
  }
}

.menuItem-card {
  margin: 1.8rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 4fr 1fr;
  // border: 1px dashed $_gray;
  border-radius: 5px;
  box-shadow: 2px 2px 10px $_gray;

  .item_text {
    display: flex;
    flex-direction: column;

    span {
      font-weight: 800;
      color: $_red;
      margin-bottom: 0.5rem;
    }
    p {
      font-style: italic;
      font-size: 1.8rem;
    }
  }

  .item_price {
    justify-self: center;
    align-self: center;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-style: italic;
      font-size: 1.8rem;
    }
    div {
      margin-left: 0.8rem;
      font-weight: 900;
      font-size: 2.5rem;
    }
  }
}

.sauce-card {
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-left: 3rem;
  padding-bottom: 1rem;
  border: none;
  box-shadow: none;
  span {
    display: flex;

    div {
      display: flex;
      flex-direction: row;
      :nth-child(1) {
        margin-left: 0.2rem;
      }
    }
  }
  img {
    width: 2rem;
    height: auto;
  }
}
