.event-card {
  height: 7rem;
  width: 95%;
  margin: 1rem 0;
  padding: 1rem;

  border-radius: 12px;
  background-color: red;

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
