.contact-container {
  display: grid;
  min-height: 100vh;
  width: 100%;
  background-color: $_gray;
  grid-template-columns: 0.2fr 2fr 2fr 0.2fr;
  grid-template-rows: 0.1fr 2.5fr 4fr 0.5fr;

  @include media("<desktop") {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5rem;
  }

  @include media("<=phone") {
    height: auto;
    min-height: 0;
  }

  .contact_socialbox {
    grid-column: 2/4;
    grid-row: 2/3;
    height: 100%;
    width: 500px;
    justify-self: center;
    align-self: center;
    z-index: 2;

    border-radius: 12px;
    background-color: $_gray;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include media("<=phone") {
      width: 100%;
      padding: 1rem;
    }

    h1 {
      color: white;
    }

    ul {
      margin-top: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      list-style: none;

      li {
        height: 4rem;
        width: 4rem;
        display: flex;
        margin: 0.5rem;
        border-radius: 20%;
        cursor: pointer;

        a {
          display: flex;
          justify-content: center;
          align-items: center;

          background-color: $_gray;
          border-radius: 4px;

          img {
            height: 90%;
            width: 100%;
            border-radius: 8px;
          }
        }
        a:hover {
          transition: all 0.8s;
          background: white;
          background-size: 150%;
        }
      }
      .socialbox-divider {
        width: 8rem;
        height: 0;
        margin: 0 1rem;

        border: 1px solid white;
        border-radius: 50%;

        @include media("<=phone") {
          display: none;
        }
      }
    }
    span {
      margin-top: 1rem;
      color: white;
      font-size: 2rem;
    }
    #info_span {
      @include media("<=phone") {
        display: none;
      }
    }
    #mediaQ_spanbox {
      display: none;
      width: 100%;
      span {
        font-size: 1.8rem;
        line-height: 1.2rem;
      }

      @include media("<=phone") {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }

  .contact_formbox {
    grid-column: 2/3;
    grid-row: 3/4;
    height: 100%;
    width: 60%;
    justify-self: flex-end;
    margin-right: 2rem;

    @include media("<desktop") {
      margin-right: 0;
      margin: 0 0 4rem 0;
    }
    @include media("<=phone") {
      width: 100%;
    }
  }

  .contact_infobox {
    grid-column: 3/4;
    grid-row: 3/4;
    height: 80%;
    width: 80%;
    padding: 2rem;
    margin-left: 2rem;
    justify-self: flex-start;
    align-self: center;

    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include media("<desktop") {
      margin-left: 0;
      margin: 4rem 0;
    }
    @include media("<=phone") {
      width: 100%;
    }

    h2 {
      margin-bottom: 3rem;
    }
    h4 {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.5rem;
      font-style: italic;
    }
    div {
      // height: 1px;
      width: 100%;
      margin: 1.5rem 0;
      border-bottom: 1px solid white;
      border-radius: 50%;
    }
  }
}
