.footer-container {
  background: radial-gradient(#313131, #131313);

  .footer-credits {
    width: 90%;
    height: 90%;
    padding: 2rem;
    display: flex;

    a {
      font-size: 1.5rem;
      color: $_gray;
      margin-right: 2rem;
    }
  }
}
