.footer-container {
  height: 10vh;
  width: 100%;
  background: radial-gradient(#313131, #131313);
  display: flex;
  justify-content: center;
  align-items: center;

  @include media("<=phone") {
    height: auto;
    padding: 2rem;
    flex-direction: column;
  }

  .footer-credits {
    width: 90%;
    height: 90%;
    padding: 2rem;
    display: flex;

    @include media("<=phone") {
      width: 100%;
      flex-direction: column;
    }

    a {
      font-size: 1.5rem;
      color: white;
      margin-right: 2rem;

      @include media("<=phone") {
        margin-right: 0;
        margin: 0.25rem;
      }
    }
  }

  button {
    text-decoration: none;
    background: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
  }
}
