.event_form-container {
  height: 100%;
  width: 50%;
  padding: 1rem;

  border-radius: 12px;
  background-color: rgb(151, 151, 151);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    color: rgb(39, 39, 39);
  }

  .event_form {
    height: 100%;
    width: 100%;
  }

  #create_event-button {
    height: 4rem;
    width: 12rem;
    margin-bottom: 1rem;
    color: white;
    font-weight: 600;
    background-color: rgb(207, 37, 37);
    border: none;
    border-radius: 8px;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2),
      2rem 2rem 5rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all ease 0.5s;

    &:hover {
      color: black;
      background-color: rgb(255, 203, 203);
      border: 4px solid rgb(207, 37, 37);
    }
  }
}

.contact_form-container {
  height: 100%;
  width: 100%;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    height: 5rem;
    width: 99%;
    margin: 0.5rem 0;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.8);
  }

  textarea {
    height: 20rem;
    width: 99%;
    margin: 0.5rem 0;
    padding: 1rem;

    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;

    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.8);
  }

  div {
    width: 99%;
    display: flex;
    justify-content: space-between;
  }

  div:nth-child(1) {
    input {
      width: 49%;
    }
  }

  div:nth-child(4) {
    margin-top: 1rem;
    justify-content: space-between;
    button {
      height: 5rem;
      width: 45%;

      background-color: rgb(255, 176, 2);
      border: 4px solid rgb(200, 150, 0);
      border-radius: 8px;
      box-shadow: 0.5rem 0.5rem 0.5rem rgba(255, 255, 255, 0.2);
      color: $_gray;
      font-size: 2rem;
      font-weight: 600;
      // font-style: italic;
      cursor: pointer;
    }
  }
}

.login_form-container {
  height: auto;
  width: 30rem;
  margin-top: 10rem;
  padding: 1rem;

  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.747);

  h1 {
    margin: 1rem 0;
    color: black;
    text-shadow: 1px 1px 2px white;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    // .form_element {
    //   width: 100%;

    //   div {
    //     display: flex;
    //     label {
    //       margin-right: 0.5rem;
    //       font-size: 2rem;
    //       font-weight: 400;
    //     }
    //     p {
    //       color: red;
    //       font-size: 1rem;
    //     }
    //   }

    //   input {
    //     height: 4rem;
    //     width: 100%;
    //     margin: 0.5rem 0;
    //     padding: 0 0.5rem;
    //   }
    // }
    span {
      height: 2.75rem;
      width: 100%;
      padding: 0.5rem 0;

      color: red;
      font-size: 1.5rem;
      font-weight: 500;
      text-align: start;
    }
    button {
      height: 4rem;
      width: 100%;
      margin: 0.5rem 0;

      background-color: rgb(255, 176, 2);
      font-size: 1.8rem;
      font-weight: 600;
      cursor: pointer;

      border: 2px solid rgb(200, 150, 0);

      &:hover {
        background-color: $_gray;
        color: white;
        border: 2px solid white;
      }
    }
  }
}

.form_element {
  width: 100%;

  .form_label-box {
    display: flex;
    justify-content: space-between;
    label {
      width: 50%;
      font-size: 2rem;
      font-weight: 400;
    }
    p {
      width: 50%;
      margin-right: 0.5rem;
      color: rgb(155, 1, 1);
      text-align: end;
      font-size: 1rem;
      font-weight: 400;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  input {
    height: 4rem;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0 0.5rem;
  }

  .react-datepicker-wrapper {
    height: auto;
    width: 100%;

    .react-datepicker__input-container {
      input {
        height: 4rem;
        width: 100%;
        margin: 0.5rem 0;
        padding: 0 0.5rem;
      }
    }
  }
}
