.event-form {
  min-height: 20rem;
  padding: 1rem 0;

  border-radius: 12px;
  background-color: rgb(255, 255, 255);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    color: black;
  }

  .form-inputs {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      padding: 1rem;
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      input {
        height: 3rem;
        width: 90%;
        padding: 0.5rem;
        margin: 0.5rem;

        font-weight: 400;
        background-color: rgb(255, 255, 255);
        border-radius: 4px;
        box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
      }
    }
    .event-datebox {
      padding: 1rem;
      padding-right: 2rem;
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      div {
        padding: 0.5rem;

        label {
          margin-right: 1rem;
          color: black;
          font-size: 1.5rem;
          font-weight: 600;
        }
      }
      .react-datetime-picker {
        font-size: 1.5rem;
        background-color: rgba(161, 161, 161, 0.507);
      }
    }
  }

  #create_event-button {
    height: 4rem;
    width: 12rem;
    margin-bottom: 1rem;
    color: white;
    font-weight: 600;
    background-color: rgb(207, 37, 37);
    border: none;
    border-radius: 8px;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2),
      2rem 2rem 5rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all ease 0.5s;

    &:hover {
      color: black;
      background-color: rgb(255, 203, 203);
      border: 4px solid rgb(207, 37, 37);
    }
  }
}

.contact-form {
  height: 100%;
  width: 100%;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    height: 5rem;
    width: 99%;
    margin: 0.5rem 0;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.8);
  }

  textarea {
    height: 20rem;
    width: 99%;
    margin: 0.5rem 0;
    padding: 1rem;

    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;

    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.8);
  }

  div {
    width: 99%;
    display: flex;
    justify-content: space-between;
  }

  div:nth-child(1) {
    input {
      width: 49%;
    }
  }

  div:nth-child(4) {
    margin-top: 1rem;
    justify-content: space-evenly;
    button {
      height: 5rem;
      width: 40%;

      background-color: rgb(255, 176, 2);
      border: 4px solid rgb(200, 150, 0);
      border-radius: 8px;
      box-shadow: 0.5rem 0.5rem 0.5rem rgba(255, 255, 255, 0.2);
      color: $_gray;
      font-size: 2rem;
      font-weight: 600;
      font-style: italic;
      cursor: pointer;
    }
  }
}
