.infobar-container {
  width: 100%;
  min-height: 8vh;
  margin: auto;
  padding: 1rem;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  .infobar_logo-container {
    position: absolute;
    left: 4rem;
    top: 1.5rem;

    #infobar_logo {
      height: 15vh;
    }
  }

  span {
    padding-right: 2.5rem;

    color: $_gray;
    font-size: 2rem;
  }

  ul {
    margin-right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    li {
      height: 4rem;
      width: 4rem;
      display: flex;
      margin: 0.5rem;
      border-radius: 20%;

      a {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: $_gray;
        border-radius: 4px;

        img {
          height: 90%;
          width: 100%;
          border-radius: 8px;
        }
      }
      a:hover {
        transition: all 0.8s;
        background: white;
        background-size: 150%;
      }
    }
  }
}
