.landing-container {
  min-height: $_content_min-height;
  grid-template-columns: 0.1fr 2fr 2fr 0.1fr;
  position: relative;

  // overflow: hidden;
  display: grid;

  .splash-container {
    grid-column: 1/5;
    grid-row: 2/3;
    height: 83vh;
    width: 100%;

    // position: relative;
    // overflow: hidden;
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;

    #full_body_logo {
      max-height: 80vh;
      position: absolute;

      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 100vh;
      }
    }

    #splash_box {
      height: 100%;
      width: 100%;

      background-color: black;
      background-size: cover;
      overflow: hidden;

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        min-width: 60%;
      }
    }
  }
}
