.landing-container {
  min-height: 100vh;
  width: 100%;
  max-width: 1600px;
  position: relative;

  // display: grid;
  // grid-template-columns: 5vw 1fr 1fr 5vw;
  // grid-template-rows: 6vh 86vh 6vh;

  display: flex;
  justify-content: center;
  align-items: center;

  .landing-bg {
    height: 100vh;
    width: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    #elipse01 {
      height: 80rem;
      width: 80rem;
      position: absolute;
      bottom: -50%;
      right: -10%;

      border-radius: 50%;
      background: linear-gradient(
        rgba(206, 33, 36, 0.9) 0%,
        rgba(206, 33, 36, 0.7) 50%,
        rgba(255, 255, 255, 0.5) 100%
      );
    }
    #elipse02 {
      height: 100rem;
      width: 100rem;
      position: absolute;
      top: -50%;
      left: -20%;

      border-radius: 50%;
      background: linear-gradient(
        rgba(234, 16, 20, 0.9) 0%,
        rgba(234, 16, 20, 0.7) 50%,
        rgba(255, 255, 255, 0.5) 100%
      );
    }
  }

  .landing_glass-panel {
    height: 95%;
    width: 95%;
    min-width: 1023px;
    position: relative;
    z-index: 0;

    border-radius: 24px;
    background: linear-gradient(
      104.04deg,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      -2rem -2rem 5rem rgba(255, 255, 255, 0.2),
      5rem 5rem 20rem rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(100px);

    display: grid;
    grid-template-columns: 1.8fr 1fr;
    grid-template-rows: 8vh 45% 50%;

    .landing-textbox {
      grid-column: 1/2;
      grid-row: 2/3;
      margin-left: 2rem;
      padding: 2rem;
      z-index: 1;
      pointer-events: none;

      h1 {
        width: 550px;
        color: $_gray;
        font-size: 7rem;
        font-style: italic;
      }
      h3 {
        width: 370px;
        margin-top: 3rem;
        color: $_gray;
        font-size: 3rem;
        font-style: italic;
      }
    }

    .landing-socialbox {
      grid-column: 1/2;
      grid-row: 3/4;

      padding: 4rem;
      justify-self: flex-start;
      align-self: center;
      z-index: 2;

      // background-color: blue;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .hash_link {
        height: 5.5rem;
        width: 22rem;
        margin-bottom: 3rem;

        button {
          height: 100%;
          width: 100%;

          background-color: rgb(255, 176, 2);
          border: 4px solid rgb(200, 150, 0);
          border-radius: 8px;
          box-shadow: 1rem 1rem 2rem $_gray;
          color: $_gray;
          font-size: 2rem;
          font-weight: 600;
          font-style: italic;
          cursor: pointer;

          display: flex;
          justify-content: center;
          align-items: center;

          a {
            // height: 5.5rem;
            // width: 22rem;
            color: $_gray;
            text-decoration: none;

            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        list-style: none;

        li {
          height: 4rem;
          width: 4rem;
          display: flex;
          margin: 0.5rem;
          border-radius: 20%;
          cursor: pointer;

          a {
            display: flex;
            justify-content: center;
            align-items: center;

            background-color: white;
            border-radius: 4px;

            img {
              height: 90%;
              width: 100%;
              border-radius: 8px;
            }
          }
          a:hover {
            transition: all 0.8s;
            background: white;
            background-size: 150%;
          }
        }
        .socialbox-divider {
          width: 8rem;
          height: 0;
          margin: 0 1rem;

          border: 1px solid $_gray;
          border-radius: 50%;
        }
      }
      span {
        margin-top: 1rem;
        color: $_gray;
        font-size: 2rem;
      }
    }

    .bird-container {
      position: absolute;
      bottom: -50;
      right: 0;

      // background-color: gold;
      z-index: 2;

      #full_bird_logo {
        height: 90rem;
      }
    }
  }
  // .little-truck-backdrop {
  //   height: 20rem;
  //   width: 40%;
  //   position: absolute;
  //   bottom: 0;
  //   left: 2%;
  //   background-image: url("https://nwobucky.s3.us-east-2.amazonaws.com/nwo_images/backdrop_trees.png");
  //   background-size: cover;
  //   border-bottom: 1px solid $_gray;
  // }
  // #little_truck {
  //   height: 15rem;
  //   width: auto;
  //   position: absolute;
  //   bottom: -1%;
  //   right: 10%;
  // }
}
