.landing-container {
  position: relative;

  display: grid;

  min-height: $_content_min-height;
  grid-template-columns: 0.1fr 2fr 2fr 0.1fr;

  .splash-container {
    grid-column: 1/5;
    grid-row: 2/3;
    height: 83vh;
    width: 100%;

    // position: relative;
    // overflow: hidden;
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;

    // background-image: url("https://nwobucky.s3.us-east-2.amazonaws.com/nwo_images/a6.jpg");
    // background-size: calc(100vw + 100rem);
    // background-position-y: 80%;
    // background-position-x: 40%;

    #full_body_logo {
      max-height: 80vh;
      position: absolute;

      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 100vh;
      }
    }
  }
}
