.landing-container {
  min-height: 100vh;
  position: relative;

  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .splash-container {
    min-height: 100vh;
    width: 100%;

    position: relative;
    top: 4vh;
    pointer-events: none;
    background-image: url("../img/wings_01_bg.jpg");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: url("../img/brush_stroke_bg.jpg");
      background-size: 120%;
      background-position: center;
      background-repeat: no-repeat;
      mix-blend-mode: screen;
    }

    #splash_logo {
      height: 95%;
      width: 30%;
      position: relative;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        height: 10%;
        width: 100%;

        color: white;
        font-size: 5rem;
        font-family: "Pragati Narrow", sans-serif;
        font-style: italic;
        text-align: center;
        z-index: 2;
      }
      img {
        height: 75%;
        transform: rotate(-15deg);
      }
    }

    #splash_picture {
      height: 95%;
      width: 65%;

      overflow: hidden;
      background-color: black;
      background-size: cover;
      border: 4px solid black;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        margin-bottom: 3rem;
        color: white;
        font-size: 5rem;
        font-family: "Pragati Narrow", sans-serif;
        font-style: italic;
        text-align: center;
      }

      div {
        height: 70%;

        border-radius: 5px;
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
          min-height: 100%;
          width: 100%;
        }
      }
    }
  }
}
