.location-container {
  min-height: 100vh;
  width: 100%;
  max-width: 1600px;
  padding: 2rem;
  z-index: 1;

  background: linear-gradient(
    rgba(0, 0, 0, 0.5) 0%,
    rgba(255, 255, 255, 0.5) 20%,
    rgba(255, 255, 255, 0.5) 100%
  );
  overflow: hidden;

  display: grid;
  grid-template-columns: 5vw 1fr 1fr 5vw;
  grid-template-rows: 5vh 1fr 5vh;

  .map-container {
    grid-column: 2/3;
    grid-row: 2/3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    background-color: $_gray;
    border: 10px solid $_gray;
    border-radius: 4rem 0 0 4rem;

    #header-box {
      height: 20%;
      min-height: 9rem;
      width: 100%;

      background-color: white;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        color: black;
      }

      span {
        color: blue;
        font-size: 2.3rem;
        font-weight: 600;
      }

      h3 {
        color: $_red;
        font-size: 2rem;
      }
    }
    #map-box {
      height: 80%;
      width: 100%;

      display: flex;
      justify-content: flex-end;
      border-radius: 0 0 2rem 2rem;
      background-color: salmon;

      .leaflet-container {
        min-height: 100%;
        width: 100%;
      }
    }
  }
  .schedule-box {
    grid-column: 3/4;
    grid-row: 2/3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    background-color: $_gray;
    border-right: 10px solid $_gray;
    border-top: 10px solid $_gray;
    border-bottom: 10px solid $_gray;
    border-radius: 0 4rem 4rem 0;
  }
}
