.location-container {
  min-height: $_content_min-height;
  min-width: 65%;
  margin: 1rem;
  padding: 2rem;

  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 8vh 1fr 2vh;

  .map-container {
    grid-column: 1/2;
    grid-row: 2/3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    background-color: $_gray;
    border: 4px solid $_gray;
    border-radius: 2rem 0 0 2rem;

    #header-box {
      height: 20%;
      min-height: 9rem;
      width: 100%;

      background-color: white;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        color: black;
      }

      span {
        color: blue;
        font-size: 2.3rem;
        font-weight: 600;
      }

      h3 {
        color: $_red;
        font-size: 2rem;
      }
    }
    #map-box {
      height: 80%;
      width: 100%;

      display: flex;
      justify-content: flex-end;
      border-radius: 0 0 2rem 2rem;
      background-color: salmon;

      .leaflet-container {
        min-height: 100%;
        width: 100%;
      }
    }
  }
  .schedule-box {
    grid-column: 2/3;
    grid-row: 2/3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    background-color: black;
    border-right: 4px solid $_gray;
    border-top: 4px solid $_gray;
    border-bottom: 4px solid $_gray;
    border-radius: 0 2rem 2rem 0;
  }
}
