.location-container {
  grid-column: 1/5;
  grid-row: 4/5;
  min-height: 80vh;

  overflow: hidden;
  // background-color: black;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .map-container {
    height: 90%;
    min-width: 45%;
    margin: 2rem;
    // padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    background-color: $_gray;
    border: 4px solid white;
    border-radius: 2rem;

    #header-box {
      height: 20%;
      min-height: 9rem;
      width: 100%;

      background-color: rgb(218, 218, 218);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        color: black;
      }

      span {
        color: blue;
        font-size: 2.3rem;
        font-weight: 600;
      }

      h3 {
        color: $_red;
        font-size: 2rem;
      }
    }
    #map-box {
      height: 80%;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      border-radius: 0 0 2rem 2rem;
      background-color: salmon;

      .leaflet-container {
        height: 100%;
        width: 100%;
      }
    }
  }
  .schedule-box {
    height: 90%;
    min-width: 45%;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    background-color: $_gray;
    border: 4px solid white;
    border-radius: 2rem;
  }
}
