.location-container {
  min-height: $_content_min-height;
  min-width: 65%;

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  .map-container {
    height: 90%;
    min-width: 48%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    background-color: $_gray;
    border: 4px solid white;
    border-radius: 2rem 0 0 2rem;

    #header-box {
      height: 20%;
      min-height: 9rem;
      width: 100%;

      background-color: rgb(218, 218, 218);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        color: black;
      }

      span {
        color: blue;
        font-size: 2.3rem;
        font-weight: 600;
      }

      h3 {
        color: $_red;
        font-size: 2rem;
      }
    }
    #map-box {
      max-height: 80%;
      height: 26.2rem;
      width: 100%;

      display: flex;
      justify-content: flex-end;
      border-radius: 0 0 2rem 2rem;
      background-color: salmon;

      .leaflet-container {
        min-height: 100%;
        width: 100%;
      }
    }
  }
  .schedule-box {
    height: 36rem;
    min-width: 48%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    background-color: black;
    border: 4px solid white;
    border-radius: 0 2rem 2rem 0;
  }
}
