.main-container {
  display: grid;
  min-height: 75.6vh;
  grid-template-columns: 0.2fr 1.5fr 3fr;
  grid-template-rows: 0.5fr 4fr 0.5fr;

  .location-container {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 1rem 1rem 10px rgb(34, 34, 34);
    min-width: 48rem;
    height: 100%;

    p {
      font-size: 3rem;
      color: red;
    }
  }
}
