.menu-container {
  height: auto;
  max-width: 1600px;

  // border-radius: 12px;
  position: relative;

  background-color: white;

  display: grid;
  grid-template-columns: 0.02fr 1fr 0.02fr;
  grid-template-rows: 80vh 4fr 0.1fr;

  @include media("<desktop") {
    grid-template-rows: 30vh 4fr 0.1fr;
    width: 100%;
  }
  @include media("<=phone") {
    width: 100%;
  }

  .brush_wing--bg {
    grid-column: 1/4;
    grid-row: 1/2;
    min-height: 100%;
    width: 100%;

    pointer-events: none;
    background-image: url("https://nwobucky.s3.us-east-2.amazonaws.com/nwo_images/quickmenu_bg_01.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: none;
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      background-image: url("https://nwobucky.s3.us-east-2.amazonaws.com/nwo_images/quickmenu_bg_mask.jpg");
      background-size: 140%;
      background-position: center;
      background-repeat: no-repeat;
      mix-blend-mode: screen;
    }

    @include media("<=phone") {
    }
  }

  h2 {
    margin: 2rem;
    font-weight: 900;
    font-size: 4rem;
    font-style: italic;
    color: $_gray;
  }
  .menu_items {
    grid-column: 2/3;
    grid-row: 2/3;

    display: grid;
    grid-template-columns: 1fr 1fr;

    @include media("<desktop") {
      display: flex;
      flex-direction: column;
    }

    ul {
      width: 100%;

      li {
        list-style: none;
      }
    }

    div:nth-child(1) {
      grid-column: 1/2;
    }

    div:nth-child(2) {
      grid-column: 2/3;

      h2 {
        @include media("<=phone") {
          margin: 0.5rem;
          padding: 0 1rem;
        }
      }
      .wings {
        p {
          margin: 0.4rem 1.8rem;
          padding: 0 2rem;
          font-style: italic;

          @include media("<=phone") {
            margin: 0.5rem;
            padding: 0 1rem;
            font-size: 1.5rem;
          }
        }
        .wing_option {
          margin: 1.8rem;
          padding: 1rem;
          display: grid;
          grid-template-columns: 4fr 1fr;
          border-radius: 5px;
          box-shadow: 2px 2px 10px $_gray;

          p {
            background-color: blue;
            padding: 8rem;
          }
          .wing_text {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            h4 {
              color: $_red;
              font-size: 2.3rem;
              margin-right: 3rem;
              @include media("<=phone") {
                font-size: 1.5rem;
                margin-right: 1rem;
              }
            }
            span {
              font-size: 1.8rem;
              font-style: italic;
              @include media("<=phone") {
                font-size: 1.5rem;
              }
            }
          }
        }

        .item_price {
          justify-self: center;
          align-self: center;
          font-weight: 600;
          display: flex;
          justify-content: center;
          align-items: center;

          span {
            font-style: italic;
            font-size: 1.8rem;
          }
          div {
            margin-left: 0.8rem;
            font-weight: 900;
            font-size: 2.5rem;
          }
        }
      }
    }

    .flavors {
      grid-column: 1/3;
      margin: 1.8rem;
      padding: 2rem;
      display: flex;
      justify-content: space-around;

      @include media("<=phone") {
        flex-direction: column;
        margin: 1rem;
        padding: 1rem;
      }

      .flavors-divider {
        border: 2px solid $_gray;
        border-radius: 100%;

        @include media("<=phone") {
          display: none;
        }
      }
      .sauces,
      .rubs {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        h2 {
          @include media("<=phone") {
            margin: 1rem 0;
            font-size: 3rem;
          }
        }
      }
    }
  }
}
