.navbar-container {
  width: 100%;
  height: 7vh;
  min-height: 45px;
  margin: auto;

  background-color: #131313;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  nav {
    width: 90%;
    margin: 1rem auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    #link-box {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        color: $_gray;
        font-weight: 600;
        font-size: 2rem;
        padding: 0 2rem;
        border: 0.2rem solid rgba(0, 0, 0, 0);
        border-radius: 300%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      a:hover {
        transition: all 0.5s;
        background-color: $_red;
        height: 3rem;
        border: 0.2rem solid black;
        border-radius: 1rem;
        box-shadow: 0.2rem 0.2rem 0.5rem $_gray;
        color: white;
      }

      span {
        color: $_gray;
        font-size: 2.5rem;
        padding: 0 2.5rem;
      }
    }
  }

  button {
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;
  }

  .opened-menu {
    background-color: rgb(226, 120, 120);
  }
  .closed-menu {
  }
}
