.navbar-container {
  min-height: 10vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;

  display: grid;
  grid-template-columns: 5vw 1fr 1fr 5vw;
  grid-template-rows: 8vh 8vh;

  nav {
    grid-column: 2/4;
    grid-row: 2/3;
    width: 100%;
    margin: 1rem auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    #link-box {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        height: 4rem;
        width: 13rem;
        padding: 1rem;
        margin: 0 2rem;

        cursor: pointer;
        color: black;
        font-size: 2rem;
        font-weight: 600;
        border-radius: 5px;
        background-color: white;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          color: white;
          border: 1px solid white;
          background-color: black;
        }
      }

      span {
        color: $_gray;
        font-size: 2.5rem;
        padding: 0 2.5rem;
      }
    }
  }

  button {
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;
  }

  .opened-menu {
    background-color: rgb(226, 120, 120);
  }
  .closed-menu {
  }
}
