.quickmenu-container {
  min-height: 100vh;
  width: 100%;
  max-width: 1600px;

  .brush_wing--bg {
    min-height: 100%;
    width: 100%;
    max-width: 1440px;

    position: absolute;
    pointer-events: none;
    background-image: url("../img/wings_01_bg.jpg");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      background-image: url("../img/brush_stroke_bg.jpg");
      background-size: 110%;
      background-position: center;
      background-repeat: no-repeat;
      mix-blend-mode: screen;
    }
  }
}
