.quickmenu-container {
  min-height: 80vh;
  width: 100%;
  max-width: 1600px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  .brush_wing--bg {
    min-height: 100%;
    width: 100%;
    max-width: 1440px;

    position: absolute;
    pointer-events: none;
    background-image: url("https://nwobucky.s3.us-east-2.amazonaws.com/nwo_images/quickmenu_bg_01.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: none;
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      background-image: url("https://nwobucky.s3.us-east-2.amazonaws.com/nwo_images/quickmenu_bg_mask.jpg");
      background-size: 140%;
      background-position: center;
      background-repeat: no-repeat;
      mix-blend-mode: screen;
    }
  }

  div {
    padding: 1.5rem;

    background: linear-gradient(
      rgba(200, 0, 0, 0.5) 0%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 1) 100%
    );
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20x);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      margin-bottom: 1.5rem;
    }
    p {
      font-size: 1.7rem;
      font-style: italic;
    }
    ul {
      margin-top: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h3 {
        font-size: 1.8rem;
      }
    }
  }
  .quickmenu_wings {
    height: 22rem;
    width: 60rem;
    position: absolute;
    top: 8%;
    left: 8%;
    z-index: 2;
  }
  .quickmenu_other {
    height: 22rem;
    width: 60rem;
    position: absolute;
    top: 8%;
    right: 8%;
    z-index: 1;
    h1 {
      margin-bottom: 0.5rem;
    }
    h3 {
      font-size: 2rem;
      font-weight: 600;
    }
  }

  #full_menu_button {
    height: 8rem;
    width: 24rem;
    // margin-bottom: 5rem;

    background-color: rgb(255, 176, 2);
    border: 4px solid rgb(200, 150, 0);
    border-radius: 8px;
    box-shadow: 1rem 1rem 2rem $_gray;
    color: $_gray;
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    cursor: pointer;

    z-index: 1;
  }
}
