* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: black;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 8rem;
}

p {
  font-size: 2.5rem;
}

li {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

#root {
  background-image: url("https://nwobucky.s3.us-east-2.amazonaws.com/nwo_images/a1.jpg");
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  scrollbar-width: none;
}

.navbar-container {
  background: radial-gradient(#313131, #131313);
}

.navbar-container nav {
  width: 85%;
  margin: auto;
  min-height: 10.4vh;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-container nav div {
  width: 12rem;
  left: 10rem;
  position: absolute;
}

.navbar-container nav a {
  color: #777676;
  font-size: 2.5rem;
  padding: 0 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-container nav a:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: #313131;
  height: 1.5rem;
  border: 0.2rem solid black;
  border-radius: 2rem;
  color: white;
}

.navbar-container nav span {
  color: #777676;
  font-size: 2.5rem;
  padding: 0 2.5rem;
}

.navbar-container nav img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 5.5rem;
  padding: 1rem 0;
}

.navbar-container div {
  width: 95%;
  margin: auto;
  min-height: 7vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.navbar-container div span {
  color: #777676;
  font-size: 1.5rem;
  font-weight: 600;
}

.header-container {
  background: radial-gradient(#313131, #131313);
}

.header-container nav {
  width: 85%;
  margin: auto;
  min-height: 10vh;
  padding: 3rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container nav div {
  height: 8rem;
  width: 16rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container nav div img {
  height: 125%;
}

.header-container nav span {
  color: #777676;
  font-size: 2.5rem;
}

.main-container {
  display: -ms-grid;
  display: grid;
  min-height: 75.6vh;
  -ms-grid-columns: 0.1fr 1.5fr 3fr;
      grid-template-columns: 0.1fr 1.5fr 3fr;
  -ms-grid-rows: 0.2fr 4fr 0.2fr;
      grid-template-rows: 0.2fr 4fr 0.2fr;
}

.main-container .location-container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #777676;
  border-radius: 2rem;
  -webkit-box-shadow: 1rem 1rem 20px #222222;
          box-shadow: 1rem 1rem 20px #222222;
  min-width: 48rem;
  height: 100%;
}

.main-container .location-container p {
  font-size: 3rem;
}

.menu-container {
  display: -ms-grid;
  display: grid;
  min-height: 75.6vh;
  background-color: white;
  -ms-grid-columns: 0.2fr 1.5fr 3fr;
      grid-template-columns: 0.2fr 1.5fr 3fr;
  -ms-grid-rows: 0.5fr 4fr 0.5fr;
      grid-template-rows: 0.5fr 4fr 0.5fr;
}

.store-container {
  display: -ms-grid;
  display: grid;
  min-height: 75.6vh;
  background-color: white;
  -ms-grid-columns: 0.2fr 1.5fr 3fr;
      grid-template-columns: 0.2fr 1.5fr 3fr;
  -ms-grid-rows: 0.5fr 4fr 0.5fr;
      grid-template-rows: 0.5fr 4fr 0.5fr;
}

.catering-container {
  display: -ms-grid;
  display: grid;
  min-height: 75.6vh;
  background-color: white;
  -ms-grid-columns: 0.2fr 1.5fr 3fr;
      grid-template-columns: 0.2fr 1.5fr 3fr;
  -ms-grid-rows: 0.5fr 4fr 0.5fr;
      grid-template-rows: 0.5fr 4fr 0.5fr;
}

.awards-container {
  display: -ms-grid;
  display: grid;
  min-height: 75.6vh;
  background-color: white;
  -ms-grid-columns: 0.2fr 1.5fr 3fr;
      grid-template-columns: 0.2fr 1.5fr 3fr;
  -ms-grid-rows: 0.5fr 4fr 0.5fr;
      grid-template-rows: 0.5fr 4fr 0.5fr;
}

.contact-container {
  display: -ms-grid;
  display: grid;
  min-height: 75.6vh;
  background-color: white;
  -ms-grid-columns: 0.2fr 1.5fr 3fr;
      grid-template-columns: 0.2fr 1.5fr 3fr;
  -ms-grid-rows: 0.5fr 4fr 0.5fr;
      grid-template-rows: 0.5fr 4fr 0.5fr;
}

.footer-container {
  background: radial-gradient(#313131, #131313);
}

.footer-container nav {
  width: 85%;
  margin: auto;
  min-height: 14vh;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.footer-container nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  border-radius: 20%;
}

.footer-container nav ul li a:hover {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  background: #777676;
  background-size: 150%;
  border-radius: 1rem;
}

.footer-container nav span {
  color: #777676;
  font-size: 2.5rem;
  padding-right: 2.5rem;
}
/*# sourceMappingURL=index.css.map */