// Variable Declarations
$breakpoints: (
  phone: 320px,
  tablet: 728px,
  desktop: 1024px,
);
$_red: #f53d30;
$_gray: rgb(50, 50, 50);

// Default CSS settings
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  color: black;
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
p {
  font-size: 2rem;
}
li {
  font-size: 2rem;
}
a {
  text-decoration: none;
}
.scrim {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15rem rgba(0, 0, 0, 0.5);
}
#root {
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  scrollbar-width: none;
}

// Package Imports
@import "../../node_modules/include-media/dist/include-media.scss";
@import "../../node_modules/react-day-picker/lib/style.css";

// Module Imports
@import "cards";
@import "forms";
@import "loading";
@import "main";
@import "infobar";
@import "navbar";
@import "landing";
@import "location";
@import "menu";
@import "quickmenu";
@import "store";
@import "catering";
@import "awards";
@import "contact";
@import "admin";
@import "footer";
