// Variable Declarations
$_red: #f53d30;
$_gray: rgb(119, 118, 118);
$_content_min-height: 90.6vh;

// Default CSS settings
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  color: black;
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
p {
  font-size: 2rem;
}
li {
  font-size: 2rem;
}
a {
  text-decoration: none;
}

#root {
  width: 100%;
  background-color: white;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  scrollbar-width: none;
}

// Package Imports
@import "../../node_modules/include-media/dist/include-media.scss";

// Module Imports
@import "loading";
@import "navbar";
@import "header";
@import "main";
@import "menu";
@import "store";
@import "catering";
@import "awards";
@import "contact";
@import "footer";
