// Variable Declarations
$breakpoints: (
  phone: 320px,
  tablet: 728px,
  desktop: 1024px,
);
$_red: rgba(235, 16, 20, 1);
$_gray: rgb(50, 50, 50);
$_yellow: #e8b80c;
$_orange: #db5f00;

// Default CSS settings
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  color: black;
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
p {
  font-size: 2rem;
}
li {
  font-size: 2rem;
}
a {
  text-decoration: none;
}
#root {
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  scrollbar-width: none;
}
.scrim {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15rem rgba(0, 0, 0, 0.5);
}
.app-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  background: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9));
}

// Package Imports
@import "../../node_modules/include-media/dist/include-media.scss";
// @import "../../node_modules/react-modern-calendar-datepicker/lib/DatePicker.css";

// Module Imports
@import "cards";
@import "forms";
@import "loading";
@import "main";
@import "navbar";
@import "landing";
@import "location";
@import "menu";
@import "store";
@import "catering";
@import "awards";
@import "contact";
@import "admin";
@import "footer";
