* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: black;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 2rem;
}

li {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

#root {
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  scrollbar-width: none;
}

.event-card {
  height: 10px;
  width: 95%;
  margin-top: 5rem;
  color: white;
  border-radius: 35%;
  background-color: rgba(255, 0, 0, 0.5);
  -webkit-box-shadow: inset 0.5rem 0.5rem 1rem rgba(255, 255, 255, 0.5), 0.5rem 0.5rem 1rem rgba(255, 255, 255, 0.5);
          box-shadow: inset 0.5rem 0.5rem 1rem rgba(255, 255, 255, 0.5), 0.5rem 0.5rem 1rem rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.event-card h2 {
  margin-bottom: 0.2rem;
  font-size: 3rem;
}

.event-card h3 {
  margin-bottom: 0.2rem;
  margin-left: 1rem;
  font-size: 2rem;
}

.menuItem-card {
  margin: 1.8rem;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 1fr;
      grid-template-columns: 4fr 1fr;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 10px #323232;
          box-shadow: 2px 2px 10px #323232;
}

.menuItem-card .item_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menuItem-card .item_text span {
  font-weight: 800;
  color: #f53d30;
  margin-bottom: 0.5rem;
}

.menuItem-card .item_text p {
  font-style: italic;
  font-size: 1.8rem;
}

.menuItem-card .item_price {
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menuItem-card .item_price span {
  font-style: italic;
  font-size: 1.8rem;
}

.menuItem-card .item_price div {
  margin-left: 0.8rem;
  font-weight: 900;
  font-size: 2.5rem;
}

.sauce-card {
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-left: 3rem;
  padding-bottom: 1rem;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sauce-card span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sauce-card span div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sauce-card span div :nth-child(1) {
  margin-left: 0.2rem;
}

.sauce-card img {
  width: 2rem;
  height: auto;
}

.event-form {
  min-height: 20rem;
  padding: 1rem 0;
  border-radius: 12px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.event-form h2 {
  color: black;
}

.event-form .form-inputs {
  height: 80%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.event-form .form-inputs ul {
  padding: 1rem;
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.event-form .form-inputs ul input {
  height: 3rem;
  width: 90%;
  padding: 0.5rem;
  margin: 0.5rem;
  font-weight: 400;
  background-color: white;
  border-radius: 4px;
  -webkit-box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.event-form .form-inputs .event-datebox {
  padding: 1rem;
  padding-right: 2rem;
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.event-form .form-inputs .event-datebox div {
  padding: 0.5rem;
}

.event-form .form-inputs .event-datebox div label {
  margin-right: 1rem;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
}

.event-form .form-inputs .event-datebox .react-datetime-picker {
  font-size: 1.5rem;
  background-color: rgba(161, 161, 161, 0.507);
}

.event-form #create_event-button {
  height: 4rem;
  width: 12rem;
  margin-bottom: 1rem;
  color: white;
  font-weight: 600;
  background-color: #cf2525;
  border: none;
  border-radius: 8px;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2), 2rem 2rem 5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2), 2rem 2rem 5rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.event-form #create_event-button:hover {
  color: black;
  background-color: #ffcbcb;
  border: 4px solid #cf2525;
}

.loading-container {
  min-height: 100vh;
  min-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading-container #full_body_logo {
  height: 100vh;
  width: 100%;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading-container #full_body_logo img {
  height: 80%;
}

.main-container {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infobar-container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 100%;
  min-height: 8vh;
  margin: auto;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infobar-container .infobar_logo-container {
  position: absolute;
  left: 3rem;
  top: 1rem;
}

.infobar-container .infobar_logo-container #infobar_logo {
  height: 15vh;
}

.infobar-container span {
  padding-right: 2.5rem;
  color: #323232;
  font-size: 2rem;
}

.infobar-container ul {
  margin-right: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.infobar-container ul li {
  height: 4rem;
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem;
  border-radius: 20%;
}

.infobar-container ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 4px;
}

.infobar-container ul li a img {
  height: 90%;
  width: 100%;
  border-radius: 8px;
}

.infobar-container ul li a:hover {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  background: white;
  background-size: 150%;
}

.navbar-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  min-height: 12vh;
  width: 100%;
  z-index: 10;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5vw 1fr 1fr 5vw;
      grid-template-columns: 5vw 1fr 1fr 5vw;
  -ms-grid-rows: 12vh;
      grid-template-rows: 12vh;
}

.navbar-container nav {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 100%;
  margin: 1rem auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-container nav #link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-container nav #link-box a {
  height: 4.5rem;
  width: 16rem;
  padding: 1rem;
  margin: 0 2.5rem;
  cursor: pointer;
  color: black;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-container nav #link-box a:hover {
  color: white;
  background-color: #323232;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.navbar-container nav #link-box span {
  color: #323232;
  font-size: 2.5rem;
  padding: 0 2.5rem;
}

.navbar-container button {
  width: 5rem;
  height: 2rem;
  border-radius: 1rem;
}

.navbar-container .opened-menu {
  background-color: #e27878;
}

.landing-container {
  min-height: 140vh;
  width: 100%;
  max-width: 1600px;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5vw 1fr 1fr 5vw;
      grid-template-columns: 5vw 1fr 1fr 5vw;
  -ms-grid-rows: 12vh 88vh;
      grid-template-rows: 12vh 88vh;
}

.landing-container .landing-bg {
  height: 100vh;
  width: 100%;
  z-index: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

.landing-container .landing-bg #elipse01 {
  height: 80rem;
  width: 80rem;
  position: absolute;
  bottom: -50%;
  right: -10%;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(200, 0, 0, 0.5)), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(rgba(200, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
}

.landing-container .landing-bg #elipse02 {
  height: 50rem;
  width: 50rem;
  position: absolute;
  top: -20%;
  left: -10%;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(200, 0, 0, 0.5)), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(rgba(200, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
}

.landing-container .landing-bg #elipse03 {
  height: 50rem;
  width: 50rem;
  position: absolute;
  bottom: -70%;
  left: -8%;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 174, 255, 0.5)), color-stop(50%, rgba(255, 255, 255, 0.5)), to(white));
  background: linear-gradient(rgba(0, 174, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 50%, white 100%);
}

.landing-container .landing-bg #elipse03 #elipse04 {
  height: 4rem;
  width: 4rem;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  background-color: yellow;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.landing-container .landing-textbox {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 90%;
  margin-top: 2rem;
  padding: 5rem;
  z-index: 1;
  pointer-events: none;
}

.landing-container .landing-textbox h1 {
  width: 550px;
  color: #323232;
  font-size: 7rem;
  font-style: italic;
}

.landing-container .landing-textbox h3 {
  width: 370px;
  margin-top: 3rem;
  color: #323232;
  font-size: 3rem;
  font-style: italic;
}

.landing-container .landing-socialbox {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  height: 45%;
  width: 500px;
  justify-self: flex-start;
  -ms-flex-item-align: end;
      align-self: flex-end;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-container .landing-socialbox button {
  height: 5.5rem;
  width: 22rem;
  margin-bottom: 5rem;
  background-color: #ffb002;
  border: 4px solid #c89600;
  border-radius: 8px;
  -webkit-box-shadow: 1rem 1rem 2rem #323232;
          box-shadow: 1rem 1rem 2rem #323232;
  color: #323232;
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-container .landing-socialbox button a {
  height: 5.5rem;
  width: 22rem;
  color: #323232;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-container .landing-socialbox ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  list-style: none;
}

.landing-container .landing-socialbox ul li {
  height: 4rem;
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem;
  border-radius: 20%;
  cursor: pointer;
}

.landing-container .landing-socialbox ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 4px;
}

.landing-container .landing-socialbox ul li a img {
  height: 90%;
  width: 100%;
  border-radius: 8px;
}

.landing-container .landing-socialbox ul li a:hover {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  background: white;
  background-size: 150%;
}

.landing-container .landing-socialbox ul .socialbox-divider {
  width: 8rem;
  height: 0;
  margin: 0 1rem;
  border: 1px solid #323232;
  border-radius: 50%;
}

.landing-container .landing-socialbox span {
  margin-top: 1rem;
  color: #323232;
  font-size: 2rem;
}

.landing-container .bird-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  height: 100%;
  max-height: 780px;
  width: 100%;
  position: relative;
  z-index: 0;
}

.landing-container .bird-container #full_bird_logo {
  height: 100rem;
  width: auto;
  position: absolute;
  bottom: -50%;
  right: -2%;
}

.landing-container .little-truck-backdrop {
  height: 20rem;
  width: 40%;
  position: absolute;
  bottom: 0;
  left: 2%;
  background-image: url("../img/backdrop_trees.png");
  background-size: cover;
  border-bottom: 1px solid #323232;
}

.landing-container #little_truck {
  height: 15rem;
  width: auto;
  position: absolute;
  bottom: -1%;
  right: 10%;
}

.location-container {
  min-height: 100vh;
  width: 100%;
  max-width: 1600px;
  padding: 2rem;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(20%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 100%);
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5vw 1fr 1fr 5vw;
      grid-template-columns: 5vw 1fr 1fr 5vw;
  -ms-grid-rows: 5vh 1fr 5vh;
      grid-template-rows: 5vh 1fr 5vh;
}

.location-container .map-container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: #323232;
  border: 10px solid #323232;
  border-radius: 4rem 0 0 4rem;
}

.location-container .map-container #header-box {
  height: 20%;
  min-height: 9rem;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location-container .map-container #header-box h1 {
  color: black;
}

.location-container .map-container #header-box span {
  color: blue;
  font-size: 2.3rem;
  font-weight: 600;
}

.location-container .map-container #header-box h3 {
  color: #f53d30;
  font-size: 2rem;
}

.location-container .map-container #map-box {
  height: 80%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: salmon;
}

.location-container .map-container #map-box .leaflet-container {
  min-height: 100%;
  width: 100%;
}

.location-container .map-container #map-box span {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  font-style: italic;
}

.location-container .schedule-box {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: #323232;
  border-right: 10px solid #323232;
  border-top: 10px solid #323232;
  border-bottom: 10px solid #323232;
  border-radius: 0 4rem 4rem 0;
}

.menu-container {
  height: auto;
  border-radius: 12px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.02fr 1fr 0.02fr;
      grid-template-columns: 0.02fr 1fr 0.02fr;
  -ms-grid-rows: 0.05fr 4fr 0.1fr;
      grid-template-rows: 0.05fr 4fr 0.1fr;
}

.menu-container h2 {
  margin: 2rem;
  font-weight: 900;
  font-size: 4rem;
  font-style: italic;
  color: #323232;
}

.menu-container .menu_items {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-color: white;
  border: 1px solid #323232;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 20px;
          box-shadow: 5px 5px 20px;
}

.menu-container .menu_items ul {
  width: 100%;
}

.menu-container .menu_items ul li {
  list-style: none;
}

.menu-container .menu_items .wings p {
  margin: 0.4rem 1.8rem;
  padding: 0 2rem;
  font-style: italic;
}

.menu-container .menu_items .wings .wing_option {
  margin: 1.8rem;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 1fr;
      grid-template-columns: 4fr 1fr;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 10px #323232;
          box-shadow: 2px 2px 10px #323232;
}

.menu-container .menu_items .wings .wing_option p {
  background-color: blue;
  padding: 8rem;
}

.menu-container .menu_items .wings .wing_option .wing_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-container .menu_items .wings .wing_option .wing_text h4 {
  color: #f53d30;
  font-size: 2.3rem;
  margin-right: 3rem;
}

.menu-container .menu_items .wings .wing_option .wing_text span {
  font-size: 1.8rem;
  font-style: italic;
}

.menu-container .menu_items .wings .item_price {
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-container .menu_items .wings .item_price span {
  font-style: italic;
  font-size: 1.8rem;
}

.menu-container .menu_items .wings .item_price div {
  margin-left: 0.8rem;
  font-weight: 900;
  font-size: 2.5rem;
}

.menu-container .menu_items .flavors-divider {
  border: 2px solid #323232;
  border-radius: 100%;
}

.menu-container .menu_items .flavors {
  margin: 1.8rem;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu-container .menu_items .flavors .sauces,
.menu-container .menu_items .flavors .rubs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.quickmenu-container {
  min-height: 100vh;
  width: 100%;
  max-width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quickmenu-container #expand_button {
  height: 10rem;
  width: 30rem;
  background-color: rebeccapurple;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.quickmenu-container .brush_wing--bg {
  min-height: 100%;
  width: 100%;
  max-width: 1440px;
  position: absolute;
  pointer-events: none;
  background-image: url("../img/wings_01_bg.jpg");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quickmenu-container .brush_wing--bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-image: url("../img/brush_stroke_bg.jpg");
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: screen;
}

.store-container {
  min-height: 100vh;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.store-container div {
  height: 80%;
  width: 45%;
  border: 1px solid white;
  border-radius: 8px;
  -webkit-box-shadow: 1rem 1rem 3rem #323232;
          box-shadow: 1rem 1rem 3rem #323232;
  background-color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.store-container div h2 {
  margin-bottom: 2rem;
  color: white;
}

.store-container div a {
  height: 20rem;
  width: auto;
  text-decoration: none;
  color: white;
}

.store-container div a img {
  height: 100%;
  width: 100%;
  border-radius: 12px;
}

.catering-container {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  background-color: white;
  -ms-grid-columns: 0.2fr 3fr 0.2fr;
      grid-template-columns: 0.2fr 3fr 0.2fr;
  -ms-grid-rows: 0.5fr 4fr 0.5fr;
      grid-template-rows: 0.5fr 4fr 0.5fr;
}

.awards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  background-color: white;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.awards-container img {
  height: 100vh;
  -ms-grid-columns: 2/3;
      grid-template-columns: 2/3;
}

.contact-container {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  width: 100%;
  background-color: #323232;
  -ms-grid-columns: 0.2fr 1.5fr 3fr;
      grid-template-columns: 0.2fr 1.5fr 3fr;
  -ms-grid-rows: 0.5fr 4fr 0.5fr;
      grid-template-rows: 0.5fr 4fr 0.5fr;
}

.admin-container {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin-container nav {
  width: 100%;
  padding: 1rem;
  margin: 1rem;
  background-color: #323232;
  border-radius: 8px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin-container nav li {
  margin: 0 1.5rem;
  padding: 1rem 2rem;
  list-style: none;
  font-weight: 600;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
}

.admin-container nav li:hover {
  color: white;
  background-color: black;
}

.admin-container nav h2 {
  margin: 0 4rem;
  color: white;
  border-bottom: 5px solid black;
}

.admin-container nav h3 {
  right: 5rem;
  color: white;
  font-size: 2rem;
  font-style: italic;
}

.admin-container .hidden {
  display: none;
}

.admin-container section {
  min-height: 10rem;
  width: 100%;
  padding: 2rem;
  margin-top: 1rem;
  background-color: white;
  border: 3px solid black;
  border-radius: 8px;
}

.admin-container section .admin_list_title {
  width: 10rem;
  margin-bottom: 2rem;
  color: white;
  border-bottom: 5px solid #ffd900;
}

.admin-container section ul {
  list-style: none;
}

.admin-container .admin_event {
  color: white;
  background-color: #323232;
}

.footer-container {
  height: 10vh;
  width: 100%;
  background: radial-gradient(#313131, #131313);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container .footer-credits {
  width: 90%;
  height: 90%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-container .footer-credits a {
  font-size: 1.5rem;
  color: white;
  margin-right: 2rem;
}

.footer-container button {
  text-decoration: none;
  background: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */