.main__root {
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}
.main {
    width: 100vw;
    height: auto;
    overflow-x: hidden;
}
.hero-logo--container {
    width: 100% ;
    height: 100%;
    min-height: 900px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-size: contain;
    overflow: hidden;
}
.hero-logo--container img {
    height: 160%;
    max-height: 800px;
    object-fit: cover;
}
.bulk-body--container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* background-color: white; */
}
.schedule-box--container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}
.schedule-box {
    width: 90%;
    border-radius: 15px;
    overflow: hidden;
}
.schedule-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.bottom-box {
    height: 600px;
    background-color: black;
}
.footer {
    height: 300px;
    background-color: rgb(39, 37, 37);
}
